/* ======= GENERAL STYLES ========= */
* {
    box-sizing: border-box;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

body {
    background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat center;
    font-family: 'Mulish', sans-serif; /* dominant font: .column div, .prog-wrap li, .contact p, .answer,
    .prog-wrap p - italics, 
    .column h3 - bold, .question-bold */
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}

/* section konténerek és tartalmuk megformázása, középre igazítása*/
.location,
.prog,
.gifts,
.faq,
.contact {
  width: 95%; /* így nem ér hozzá az oldal széléhez */
  margin: 1.5rem auto; /* a konténerek középre rendezése */
  padding: .5rem 1rem;
  text-align: center;
}
/* BETŰTÍPUSOK ÉS MÉRETÜK */

/* .text h1, .location h2, .prog h2, .gifts h2, .faq h2, .contact h2 - font-family: 'Great Vibes', cursive*/
h1, h2 {
    font-family: 'Great Vibes', cursive; /* nem szükséges a konténer class-át is feltűntetni előttük */

}
h2 {
    font-size: 3rem; /* nem szükséges a konténer class-át is feltűntetni előtte */
    font-weight: bold;
  }

/* .tagline, .text span, h3, .gifts p, .faq h3, .contact p, - font-family: 'Libre Baskerville', serif */

.tagline, .text span, h3, .contact p, .gifts p, .faq h3 {
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

a {
    text-decoration: none;
    color: #bd806e;
}
  
a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

/* HEADER FORMÁZÁSA */

.cover {
    background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat 70% center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: table;
    text-align: center;
}
.wrapper {
    display: table-cell;
    vertical-align: middle;
}
.text h1 {
    color: #d2ba87;
    font-size: 3.5rem;
    margin-bottom: 0; /* To negate the effect of the single-direction margin declaration. */
}
.tagline, span {
    color: hsla(0,0%,100%,.9);
    letter-spacing: 0.2rem;
}
.text {
    background-color: hsla(100,0%,0%,.5);
    padding: .625rem; /* a szöveg körül egy enyhe padding */
}

span {
        font-size: 1.25rem;
        letter-spacing: .15rem;
        vertical-align: middle;
}
/* A tagline alatti vonal */
.tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 0.0625rem;
    width: 12.515625rem;
    margin: .5rem auto;
  }
  

/* A dátum előtti és utána a vonal */
span::before,
span::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 0.0625rem;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0.5rem;
}

/* LOCATIONS FORMÁZÁSA */

/* vonal alá */
.column::after {
        display: block;
        content: "";
        background-color: #444349;
        height: 0.1875rem;
        width: 7rem;
        margin: 1.5rem auto;
}
.location h2, .column h3 {
    font-weight: bold;
}

.column img {
    height: 7.5rem;
}

/* PROGRAMS SZEKCIÓ */

.prog {
    width: 100vw;
    text-align: left;
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    font-weight: 600;
   
}
.prog-wrap {
    width: 95%;
}
.prog h2 {
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}
.prog p {
    font-style: italic;
    font-weight: 600;
    text-align: center;
}
.program ul {
    letter-spacing: .025rem;
  }

  /* GIFTS SZEKCIÓ */
  .gifts img {
    height: 7.5rem;
  }   
    
    
  .gifts p:last-child { 
    margin-bottom: 0; /* alsó margónak mennie kell, hogy a vertikális ritmus konzisztens maradjon */
}

/* Q and A szekció */
.faq {
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    width: 100vw;
}
.question {
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.answer {
    margin-bottom: 1.5rem;
}
.question-group::after {
    display: block;
    content: "";
    background-color: #d2ba87;
    height: 0.1875rem;
    width: 12.515625rem;
    margin: 1.5rem auto;
  }
.faq h2 {
    margin-top: 1rem;
}
.faq p {
    text-align: left;
}
.faq h3 {
    font-weight: bold;
}

/* Contact betűméret változtatás */
.contact p {
    font-size: 1.2rem;
}

/* FOOTER FORMÁZÁSA */
footer {
    width: 100vw;
    height: 10vh;
    background-color: #606060;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    display: table;
    
}
.footer-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: .5rem 1rem;
}
footer p {
    margin-bottom: 0; /* így már tényleg középre van igazítva vertikálisan */
  }
  
  footer small {
    line-height: 1.5;
  }
